<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} | %-5level | %thread | %logger{0} | %m%n%ex{10}</pattern>
        </encoder>
    </appender>

    <appender name="ROLLING"
        class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} | %-5level | %thread | %logger{0} | %m%n%ex{10}</pattern>
        </encoder>
        <file>/home/hosting_users/yourlucky/tomcat/logs/destiny.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>/home/hosting_users/yourlucky/tomcat/logs/destiny-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <!-- or whenever the file size reaches 100MB -->
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="ROLLING" />
    </appender>

    <logger name="com.nhn" level="INFO" />
    <logger name="com.nhncorp" level="INFO" />
    <logger name="com.hangame" level="INFO" />
    <logger name="org.springframework" level="INFO" />
    <logger name="org.springframework.transaction" level="INFO" />
    

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="ROLLING" />
    </root>
</configuration>